/*
This style sheet is a simplified version of the Patrick Collison's website. The use of float is an interesting choice to make two column layout and works surprisingly responsively. The drawback is the normal margin on the left and right does not work anymore.
*/

html {
    font-family: Helvetica;
}

body{
    font-size: 13px;
}

#menu ul{
  float: right;
  margin-top: 30px;
  list-style-type: none;
  padding: 1.5px;
  width: 150px;
}

#left { /* this div is necessary in order to create margin on the left, the width is optimized for different screen size at 200px */
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content p {
  margin-top: 0;
}